<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="sms"></headpage>
</ion-header>


<ion-content padding >
  <ion-card text-center class="big_card" >
    <ion-grid class="heightstyle">
     
        <ion-item >
          <ion-label class="txt" stacked>{{param.datatext.newnum}}</ion-label>
          <ion-input #tel  inputmode="tel" placeholder="0630854706"></ion-input>
          <button *ngIf="is_a_num(tel.value)" class="btn-add" (mouseup)="addNum($event,tel.value)" item-end>
            <ion-icon  color="light" name="add"></ion-icon>
          </button>
          <button *ngIf="!(is_a_num(tel.value))" class="mailnotvalid" (mouseup)="addNum($event,tel.value)" item-end>
            <ion-icon  color="light" name="add"></ion-icon>
          </button>
        </ion-item>
       
      
        <ion-list >
          <ion-item *ngFor="let m of this.param.phonenumberlist">
            <ion-icon class="iconscss" name="chatboxes" item-start color="primary"></ion-icon>{{displayNum(m)}}
            <button class="btn-trash" item-end (mouseup)="removeNum($event,m)">
              <ion-icon class="btn-trash" name="trash"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
    
    </ion-grid> 

</ion-card>
 

</ion-content>


