//mail page style sheet
page-mail {
    ion-content > div.scroll-content {
        overflow: auto;
    }

    .big-ion-content > div.scroll-content {
        overflow: hidden;
    }
    .big_card{
        //background-size: cover;
        //background-image: url("../assets/imgs/patrol.jpg");
        background-color: rgba(26, 156, 195, 0.199);
        height:98%;
        border-radius: 15px;
        vertical-align: middle;
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }
 
   .itemail{
    min-height: 100px;
   }
    ion-icon {
        color: black;
        
      }

    .txt{
        font-size: x-large !important;
        
    }

    .btnscss{
        font-size: xx-large;
        border-radius: 15px;
        text-align: center;
        
    }
    .inputmail{
        //margin-top: 20px;
        padding: 0px !important;
       
    }
    
    .btn-add {
        font-size: xx-large;
        border-radius: 15px;
        padding: 10px;
        background-color:  rgb(26, 156, 195);
        
    }

    
    .mailnotvalid {
        font-size: xx-large;
        border-radius: 15px;
        padding: 10px;
        background-color:  rgb(173, 173, 173);
        
    }
    .btn-trash{
        background-color: white;
        font-size: xx-large;
   
    }
    
    .iconscss{
        font-size: xx-large;
   
    }
    .item{
        margin:5px auto;
        border-radius: 15px;
        font-size: x-large;
      }

    .titlescss{
        border-radius: 15px;
        margin-top: 20px;
        font-size:x-large;
        background-color: rgba(26, 156, 195, 0);
    }
    
    .heightstyle{
        width: 60%;
        height: 90%;
    }

    .labelcss{
        font-size: x-large !important;
        vertical-align: middle; margin: 0px;display: flex; align-items: center!important;
    }
    
}