//home page style sheet
page-annonce {
    ion-content > div.scroll-content {
        overflow: auto;
    }
    .big-ion-content > div.scroll-content {
        overflow: hidden;
    }

    .big_card{
        
        background-color: rgba(26, 156, 195, 0.199);
        height:98%;
        border-radius: 15px;
        vertical-align: middle;
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }

    ion-icon {
        color: rgb(25, 25, 26);
        
      }

    .txt{
        font-size: large !important;
       
    }


    .btn-add {
        font-size: xx-large;
        border-radius: 15px;
        padding: 10px;
        background-color:  rgb(26, 156, 195);
        
    }
    
    .mailnotvalid {
        font-size: xx-large;
        border-radius: 15px;
        padding: 10px;
        background-color:  rgb(173, 173, 173);
        
    }

    .listen {
        font-size: xx-large;
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(26, 156, 195);
        
    }

    .btn-trash{
        background-color: white;
        font-size: xx-large;
   
    }

    .colannonce{
        align-items: left !important;
        text-align: left;
    }

    .btn-annonce{
        background-color: white;
        font-size: large;
        width: 100%;
        height: 100%;
        color:  rgb(26, 156, 195);
        text-align: left!important;
    }

    .separation{
        margin-top: 10px;
    }
    
    .iconscss{
        font-size: xx-large;
   
    }

    .item{
        margin:5px auto;
        border-radius: 15px;
        font-size: large;
      }

    .titlescss{
        border-radius: 15px;
        margin-top: 20px;
        font-size:large;
        background-color: rgba(26, 156, 195, 0);
    }

    .annoncedisplay{
        background-color: white;
        border-radius: 15px;
        margin-top: 7px;
        width: 100%;
    }

    
    .heightstyle{
        height: 90%;
        width: 90%;
        
    }
}