<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="annonce"></headpage>
</ion-header>

<ion-content class="big-ion-content" padding>
  <ion-card text-center class="big_card">
    <ion-grid class="heightstyle">
      <ion-row>
        <ion-col col-6>
          <ion-item text-wrap>
            <ion-label class="txt">{{this.param.datatext.freq}}</ion-label>
            <ion-select #select1 slot="end" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectFreq" [(ngModel)]="SelectFreq"
              placeholder="{{this.param.datatext.freqAnnounce}}" (ionChange)="onFreqChange($event)"
              (mouseup)="onSliderRelease($event,select1)">
              <ion-option value="30">{{this.param.datatext.every30sec}}</ion-option>
              <ion-option value="60">{{this.param.datatext.every1mn}}</ion-option>
              <ion-option value="120">{{this.param.datatext.every2mn}}</ion-option>
              <ion-option value="180">{{this.param.datatext.every3mn}}</ion-option>
              <ion-option value="240">{{this.param.datatext.every4mn}}</ion-option>
              <ion-option value="300">{{this.param.datatext.every5mn}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label>{{this.param.datatext.weather}}</ion-label>
            <ion-toggle [checked]="this.param.sayweather ==1 " (ionChange)="onToggleWeather()" item-end></ion-toggle>

            <ion-icon class="iconscss" name="sunny" item-start color="primary"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label>{{this.param.datatext.date}}</ion-label>
            <ion-toggle [checked]="this.param.sayhour ==1 " (ionChange)="onToggleHour()" item-end></ion-toggle>
            <ion-icon class="iconscss" name="time" item-start color="primary"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-list class="separation">
        <ion-item>
        
          <ion-input type="text" maxlength="3000" [(ngModel)]="value" placeholder="{{this.param.datatext.newAnnouncement}}"></ion-input>
          <button *ngIf="is_a_text()" class="listen" (mouseup)="sayAnnonce($event)" item-end>
            <ion-icon color="light" name="volume-down"></ion-icon>
          </button>
          <button *ngIf="is_a_text()" class="btn-add" (mouseup)="addAnnonce($event)" item-end>
            <ion-icon color="light" name="add"></ion-icon>
          </button>
          <button *ngIf="!(is_a_text())" class="mailnotvalid" (mouseup)="addAnnonce($event)" item-end>
            <ion-icon color="light" name="add"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <ion-content #content1 style="background-color: transparent;">
        <ion-row class="annoncedisplay" *ngFor="let m of this.param.announcement">
          <ion-col col-1>
            <ion-icon class="iconscss" name="chatboxes" item-start color="primary"></ion-icon>
          </ion-col>
          <ion-col class="colannonce" col-9>
            <button class="btn-annonce" (mouseup)="editAnnonce($event,m)">
              {{m.speech}}
            </button>
          </ion-col>
          <ion-col col-1>
            <button class="btn-trash" item-end (mouseup)="removeAnnonce($event,m)">
              <ion-icon class="btn-trash" name="trash"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-1>
            <ion-toggle [checked]="m.activated ==1 " (ionChange)="onToggleAnnonce(m)"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-grid>
  </ion-card>
</ion-content>