<!-- home page html template -->

<ion-header no-border>
  <headpage pageName="home"></headpage>
</ion-header>

<ion-content padding>
  <ion-card text-center class="big_card">
    <ion-grid class="heightstyle">
      <ion-row class="heightstyle">
        <ion-col col-3 class="heightstyle2">
          <ion-item *ngIf="!api.roundActive && !api.towardDocking" class="itemstyle" text-wrap>
            <ion-select #select1 slot="end" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectOptions" class="myCustomSelect"
              placeholder="{{this.param.datatext.selectRound}}" [(ngModel)]="SelectRound" (ionChange)="onRoundChange()"
              (mouseup)="onSliderRelease($event,select1)">
              <ion-option *ngFor="let round of this.api.round_current_map" value="{{round.Id}}">{{round.Name}}
              </ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!api.roundActive && !api.towardDocking" class="itemstyle">
            <button class="myCustomSelect50" (mouseup)="changetoRadio()" [class.active]="isRadioActive">{{this.param.datatext.radio}}</button>
            <button class="myCustomSelect50" (mouseup)="changetoLocal()" [class.active]="isLocalActive">{{this.param.datatext.mp3}}</button>
          </ion-item>          

          <ion-item *ngIf="!api.roundActive && !api.towardDocking && radio==true" class="itemstyle" text-wrap>
            <ion-select #select2 slot="end" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectRadio" class="myCustomSelect"
              placeholder="{{this.param.datatext.radio}}" [(ngModel)]="SelectRadio" 
              (ionChange)="onRadioChange($event)" (mouseup)="onSliderRelease($event,select2)">
              <ion-option *ngFor="let m of this.param.radiolist" value="{{m.idRadio}}">{{m.nameRadio}}
              </ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!api.roundActive && !api.towardDocking && radio==false" class="itemstyle" text-wrap>
            <ion-select #select4 slot="end" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectLocal" class="myCustomSelect"
              placeholder="Local" [(ngModel)]="SelectLocal" 
              (ionChange)="onLocalChange($event)" (mouseup)="onSliderRelease($event,select4)">
              <ion-option *ngFor="let m of this.param.musicfolderlist" [value]="m">{{m}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!api.roundActive && !api.towardDocking" class="itemstyle" text-wrap>
            <ion-select #select3 slot="end" okText="{{this.param.datatext.btn_ok}}"
              cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectDuration" class="myCustomSelect"
              placeholder="{{this.param.datatext.roundDuration}}" [(ngModel)]="SelectDuration"
              (ionChange)="onDurationChange()" (mouseup)="onSliderRelease($event,select3)">
              <ion-option value="10">10 min</ion-option>
              <ion-option value="20">20 min</ion-option>
              <ion-option value="30">30 min</ion-option>
              <ion-option value="40">40 min</ion-option>
              <ion-option value="50">50 min</ion-option>
              <ion-option value="60">60 min</ion-option>
              <ion-option value="90">1h30</ion-option>
              <ion-option value="120">2h</ion-option>
              <ion-option value="300">5h</ion-option>
              <ion-option value="420">7h</ion-option>
            </ion-select>
          </ion-item>

          <ion-item class="itemstyle">
            <ion-range pin="true" class="myCustomSelect" [(ngModel)]="volume" (ionChange)="onVolumeChange($event)" [min]="1">
              <ion-icon range-left name="volume-mute"></ion-icon>
              <ion-icon range-right name="volume-up"></ion-icon>
            </ion-range>
          </ion-item>

          <button ion-button color="primary" class="btn_cam" (mouseup)="displaycam($event)">
            <ion-icon *ngIf="!cam" color="light" name="camera" class="icon_cam"></ion-icon>
            <ion-icon *ngIf="cam" color="light" name="musical-note" class="icon_cam"></ion-icon>
          </button>

          <ion-buttons class="div_btn_go">
            <!-- the Go button is disabled if the robot is not connected -->
            <button *ngIf="!api.roundActive && !api.towardDocking" ion-button color="secondary"
              [disabled]="!api.is_connected || !this.SelectRound" (mouseup)="onclickGo($event)" class="btn_go">
              <ion-icon color="light" name="play" class="icon_style">
                <p class="legende">{{this.param.datatext.btn_go}}</p>
              </ion-icon>
            </button>
            <button *ngIf="api.roundActive || api.towardDocking" ion-button color="danger" (mouseup)="onclickGo($event)"
              class="btn_go">
              <ion-icon color="light" name="hand" class="icon_style">
                <p class="legende">
                  {{this.param.datatext.btn_stop}}
                </p>
              </ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-9>
          <div class="container vh-100">
            <div class="d-flex flex-column align-items-center">
              <div class="p-1">
                <canvas #canvas class="vid" style="display: none"> </canvas>
              </div>
            </div>
          </div>
          <div id="mute"></div>
          <div class="video-responsive">
            
            <p [hidden]="cam" *ngIf="radio==true" class="nameRadio">{{ this.currentRadio.nameRadio }}</p> 
            <p [hidden]="cam" *ngIf="radio==false" class="nameLocal">{{this.param.datatext.folder}} : {{ this.SelectLocal }}</p>
            <p [hidden]="cam" *ngIf="radio==false && !this.param.musiclist.length == 0" class="nameLocal">{{this.param.datatext.music}} : {{ this.currentLocalFile }}</p>
            <p [hidden]="cam" *ngIf="radio==false && this.param.musiclist.length == 0" class="nameLocal">{{this.param.datatext.NoMusic}}</p>
            <img [hidden]="cam" id="gifRadio" src="" (mouseup)="pauseRadio()" class="gifRadio" alt="gif audio">
            <img [hidden]="cam" id="gifPause" src="" (mouseup)="pauseRadio()" class="gifPause" alt="icon stop and play">
            <img [hidden]="cam" *ngIf="radio==false" src="assets/imgs/leftskip.png" (mouseup)="playPreviousTrack()" class="leftArrow" alt="left arrow">
            <p [hidden]="cam" *ngIf="radio==false" class="leftArrowText" alt="previous track">{{this.previousLocalFile}}</p>
            <img [hidden]="cam" *ngIf="radio==false" src="assets/imgs/rightskip.png" (mouseup)="playNextTrack()" class="rightArrow" alt="right arrow">
            <p [hidden]="cam" *ngIf="radio==false" class="rightArrowText" alt="next track">{{this.nextLocalFile}}</p>
            <audio id="iframe" src="" autoplay></audio>

            <img [hidden]="!cam" class="video" id="imgcompressed" />
            <div [hidden]="!cam" class="joy" id="zone_joystick"></div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
  <img id="imgpersondetect" #imgpersondetect src={{detection_url}} crossorigin="anonymous" class="video"
    style="display:none;" />
  <canvas #canvaspersondetect style="display:none;"> </canvas>
</ion-content>