//home page style sheet
page-home {
  ion-content > div.scroll-content {
    overflow: hidden;
  }

  .video-responsive {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .video-responsive iframe {
    height: 100%;
    width: 100%;
  }

  .big_card {
    background-size: cover;
    background-color: rgba(66, 166, 202, 0.400);
    height: 100%;
    border-radius: 15px;
  }

  .heightstyle2 {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .heightstyle {
    height: 100%;
  }

  .div_btn_go {
    flex-grow: 1;
    padding-right: 8px;
    margin: 0px !important;
  }

  .itemstyle {
    align-items: center;
    padding-left: 0px;
    padding-right: -50px;
    margin-bottom: 4px;
    border: none;
    background-color: transparent;
  }

  
  .myCustomSelect {
    font-size: large;
    margin-bottom: 7px;
    margin: 0px !important;
    border-radius: 15px;
    min-width: 100%;
    max-width: 100;
    width: 100%;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.65);
  }

  .myCustomSelect50 {
    font-size: large;
    margin-bottom: 7px;
    margin: 0px !important;
    border-radius: 15px;
    padding: 12px;
    width: 49%;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.65);
  }

  .btn_go {
    margin: 0px !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 15px;
  }

  .video {
    flex-grow : 1;
    margin: 0px !important;
    vertical-align: middle !important;
    height: 100%;
    width: 100%;
    height: 99%;
    width: auto;
    max-width: 95%;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  }

  .joy {
    flex-grow: 1;
    margin: 0px !important;
    vertical-align: middle !important;
    height: 99%;
    width: 95%;
    position: absolute;
    background-color: #dddddd00;
  }
  .youtube {
    display: inline;
  }

  .btn_cam {
    margin: 0px !important;
    margin-bottom: 7px !important;
    min-height: 60px;
    width: 98%;
    border-radius: 15px;
  }

  .legende {
    font-size: 3vw;
    text-align: center;
    height: 100%;
    color: white;
  }
  .icon_style {
    font-size: 5vw;
  }
  .icon_cam {
    font-size: 3vw;
  }

  .legende_item {
    color: white;
  }

  .scroll-content {
    justify-content: center;
    display: flex !important;
    align-items: center !important;
  }

  .nameRadio {
    color: white; 
    font-weight: bold; 
    font-size:50px;
    margin-bottom: 79px;
  }

  .gifRadio{
    position: fixed;
    width:70%;
    height:70%;
  }

  .gifPause{
    margin-top: 8%;
    margin-left: 20%;
    position: fixed;
    width:30%;
    height:40%;
  }

  .active {
    background-color: green;
    color: white;
  }
  .label-md {
    margin: 0;
  }
  .leftArrow {
    margin-top: 14%;
    margin-left: 2%;
    position: fixed;
    width:10%;
    height:20%;
  }
  .rightArrow {
    margin-top: 14%;
    margin-left: 58%;
    position: fixed;
    width:10%;
    height:20%;
  }
  .leftArrowText {
    color: rgb(66, 166, 202);
    font-size: x-large;
    margin-top: 14%;
    position: fixed;
    width:15%;
  }
  .rightArrowText {
    color: rgb(66, 166, 202);;
    font-size: x-large;
    margin-top: 14%;
    margin-left: 55%;
    position: fixed;
    width:15%;
  }
  .nameLocal {
    color: white; 
    font-weight: bold; 
    font-size:50px;
  }
}
