<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="radio"></headpage>
</ion-header>


<ion-content class="big-ion-content" padding >
  <ion-card text-center class="big_card" >
    <ion-grid class="heightstyle">

        <ion-item class="itemail">
          <ion-label class="txt" stacked>{{param.datatext.newradio}}</ion-label>
          <ion-input inputmode="nomRadio" [(ngModel)]="inputname" placeholder="Radio Name"></ion-input>
          <ion-input inputmode="urlRadio" [(ngModel)]="inputurl" placeholder="Radio URL"></ion-input>
          <button *ngIf="is_a_url(inputurl)" class="btn-add" (mouseup)="addRadio($event)" item-end>
            <ion-icon  color="light" name="add"></ion-icon>
          </button>
          <button *ngIf="!(is_a_url(inputurl))" class="urlnotvalid" (mouseup)="addRadio($event)" item-end>
            <ion-icon  color="light" name="add"></ion-icon>
          </button>
        </ion-item>
        
        <ion-content #content1 style="height: 80%; width: 100%; background-color: transparent;">
        
          <ion-item *ngFor="let m of this.param.radiolist">
            <ion-icon class="iconscss" name="radio" item-start color="primary"></ion-icon>{{m.nameRadio}}
            <button class="btn-trash" item-end (mouseup)="removeRadio($event,m)">
              <ion-icon class="btn-trash" name="trash"></ion-icon>
            </button>
          </ion-item>
        
        </ion-content>
    
    </ion-grid> 

</ion-card>

</ion-content>

