<!-- mail page html template -->
<ion-header no-border>
    <headpage pageName="behaviour"></headpage>
  </ion-header>
  
  
  <ion-content padding >
    <ion-card class="big_card" >
      <ion-grid class="heightstyle">
        <ion-row class="center">
            <ion-col col-2></ion-col>
            <ion-col text-left col-7>
              <h2 class="titlescss">{{param.datatext.fallDetectionActivation}}</h2>
            </ion-col>
            <ion-col col-3>
              <ion-toggle
                      [checked]="param.patrolInfo.round_fall_detection == 1"
                      (ionChange)="update_fall_detection()"
                      item-end
                  ></ion-toggle>
            </ion-col>
          </ion-row>
         

          <ion-row class="center">
            <ion-col col-2></ion-col>
            <ion-col text-left col-7>
              <h2 class="titlescss">{{param.datatext.maskDetectionActivation}}</h2>
            </ion-col>
            <ion-col col-3>
              <ion-toggle
                      [checked]="param.patrolInfo.round_mask_detection == 1"
                      (ionChange)="update_mask_detection()"
                      item-end
                  ></ion-toggle>
            </ion-col>
          </ion-row>
      
      </ion-grid> 
  
  </ion-card>
   
  
  </ion-content>